
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.coming-soon-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #7f8c8d;
}

.signup-form {
    display: flex;
    justify-content: center;
    gap: 5px;
}

input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 250px;
    position: relative;
    top:0px;
}

.hm {
    position:relative;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FF5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    top: 20px;
}

.hm:hover {
    background-color: #FF5722;
}
button {
    
    padding: 10px 20px;
    background-color: #FF5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #FF5722;
}
